# See for more potential targets to ignore:
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Python
*.py[cod]
**__pycache__/
build/
dist/
*.egg-info/

# PyCharm
.idea/

# Vim
.vim/

# Coverage.py
.coverage
coverage.xml

# Sphinx
docs/build
docs/src/reference

# Environments
.env
.venv
env/
venv/
env.bak/
venv.bak/
