# User-authorised full tox build and code coverage report

name: build
on:
  push:
    tags-ignore:
      - '*'
  pull_request:

jobs:
  environment:
    name: User-authorised tox suite with coverage
    runs-on: ubuntu-latest
    env:
      SPOTIFY_CLIENT_ID: ${{secrets.SPOTIFY_CLIENT_ID}}
      SPOTIFY_CLIENT_SECRET: ${{secrets.SPOTIFY_CLIENT_SECRET}}
      SPOTIFY_REDIRECT_URI: ${{secrets.SPOTIFY_REDIRECT_URI}}
      SPOTIFY_USER_REFRESH: ${{secrets.SPOTIFY_USER_REFRESH}}
      TEKORE_TEST_SKIP_IS_FAIL: True

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Initialise coverage reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build
      - name: Run tox
        run: |
          tox
          TEST_RESULT=$?
      - name: Post coverage
        run: |
          coverage xml
          ./cc-test-reporter after-build --exit-code $TEST_RESULT
